body {
	background:;
}
header {
	display:block;
	height:;
	padding:2% 1%;
	width:98%;
	background:;
	color:white;
}
textarea {
width:60%;
line-height:1;
padding:10px 10px;
margin-left:20%;
resize:none;
}
body ul {
display:block;
width:98%;
padding:2%;
text-align:center;
border:1px solid #BFBFBF;
background:#E5E5E5;
color:black;
}

body ul li {
	display:inline-block;
	padding:5px 10px;
	border:1px solid green;
	margin-right:50px;
}
section {
	display:block;
	height:550px;
	width:98%;
	overflow:auto;
	padding:1%;
	border:0px solid green;
	background:;
}

table {
	border:0px dotted #4d4d4d;
	position:relative;
	border-collapse:collapse;
}

td,th {
	height:20px;
	min-width:90px;
	border:0.5px solid green;
	overflow:auto;
	margin:0px;
}

td.col0 {
max-width:30px;
display:block;
text-align:center;
background:#E5E5E5;
color:#1A1A1A;
border:2px solid #4D4D4D;
}
.row0	{
background:#E5E5E5;
color:#1A1A1A;
text-align:center;
border:2px solid #4D4D4D;
}

input {
-webkit-appearance:none;
-moz-appearance:textfield;
display:block;
width:95%;
border:0px;
}
input:focus {
border:0.3px solid #7979EF;
}
#drawSpace {
	display:block;
	width:92%;
	margin:5%;
	border:1px solid red;
}

footer{
	display:block;
	width:100%;
	padding:3% 0%;
	text-align:center;
	background:#4d4d4d;
}
