body{

}
img {
max-width:100%;
height:100%;
}
header {
width:98%;
margin:3% 1%;
border:0px solid #4D4D4D;
display:block;
}
header ul {
border-bottom:2px solid #4D4D4D;
}
header ul li {
display:inline-block;
height:70px;
border:1px solid green;
width:32.5%;
opacity:0.7;
transition:all 0.6s;
}
header ul li:hover {
background:white;
opacity:1;
transition:all 0.2s;
}
header ul li img {
position:relative;
margin-left:40%;

}
section {
width:100%;
display:block;
border:0px solid red;
}
section div {
display:block;
width:100%;
border:0px solid green;
}
input {
width:15%;
height:50px;
display:inine-block;
margin:10px;
}
textarea {
width:250px;
height:100px;
margin:20px 20px -30px 10px;
}
button {
width:200px;
height:50px;

}
.labels {
width:90px;
height:35px;
}
p{
color:red;
display:inline;
}
#resetZoom{
float:right;
margin-right:50px;
}
